.models__tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #F6F6F6;
  position: absolute;
  z-index: 3;
}
.models__tab .category__list__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  border-bottom: 0.1rem solid #747373;
  padding-bottom: 0.8rem;
}
.models__tab .category__list__row .category__list__container {
  width: 100%;
}
.models__tab .category__list__row .category__list__container > * {
  cursor: pointer;
}
.models__tab .category__list__row .category__list__container > *:hover {
  font-weight: 500;
}
.models__tab .category__list__row .blue__button {
  top: 0;
  right: 0;
}
.models__tab .models__grid__container {
  width: 100%;
  display: grid;
}
.models__tab .models__grid__container .model__card .model__image {
  --bg-image: "";
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  aspect-ratio: 1/0.4288;
}
.models__tab .models__grid__container .model__card .model__name {
  font-size: 1.5rem;
  font-weight: 500;
}

.navigate__back__row {
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #747373;
  cursor: pointer;
}
.navigate__back__row > * {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigate__back__row p {
  right: 50%;
}
.navigate__back__row i {
  right: 93%;
}
.navigate__back__row:hover {
  color: #1C69D3;
}

@media only screen and (max-width: 767px) {
  .models__tab {
    top: var(--mavbar-heigth);
  }
  .models__tab .navigate__back__row {
    height: 4rem;
    font-weight: 300;
    position: relative;
  }
  .models__tab .category__list__container {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .models__tab .category__list__container > * {
    justify-self: center;
  }
  .models__tab .category__list__container #spacer {
    display: none;
  }
  .models__tab .models__grid__container {
    grid-template-columns: 1fr;
  }
  .models__tab .models__grid__container .model__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }
  .models__tab .models__grid__container .model__card:not(:first-child) {
    border-top: 1px solid #747373;
  }
  .models__tab .models__grid__container .model__card .model__image {
    width: 60%;
    background-size: 100%;
    margin-left: 5%;
  }
  .models__tab .models__grid__container .model__card .model__name {
    width: 30%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .models__tab {
    top: var(--mavbar-heigth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .models__tab > *:not(.navigate__back__row) {
    width: 90%;
  }
  .models__tab .navigate__back__row {
    height: 4rem;
    font-weight: 300;
    position: relative;
  }
  .models__tab .category__list__row {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .models__tab .category__list__row .category__list__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    line-height: 2.5rem;
  }
  .models__tab .category__list__row .category__list__container #spacer {
    pointer-events: none;
  }
  .models__tab .category__list__row .category__list__container :nth-last-child(-n+3) {
    font-weight: 300;
  }
  .models__tab .category__list__row .category__list__container .selected__category {
    font-weight: 500;
    border-bottom: 0.2rem solid #747373;
    padding-bottom: 0.8rem;
    margin-bottom: -0.95rem;
  }
  .models__tab .category__list__row .blue__button {
    background-color: #1C69D3;
    border: none;
    height: 2.5rem;
    width: 10rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: -0.3rem;
  }
  .models__tab .category__list__row .blue__button:hover {
    background-color: #1D55A2;
  }
  .models__tab .selected__category__row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.2rem;
  }
  .models__tab .selected__category__row .category__title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
  }
  .models__tab .selected__category__row > a {
    color: #221F1F;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .models__tab .models__grid__container {
    margin: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
  }
  .models__tab .models__grid__container .model__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
  }
  .models__tab .models__grid__container .model__card:hover {
    background-color: #fff;
    box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
  }
  .models__tab .models__grid__container .model__card .model__image {
    width: 100%;
    background-size: 100%;
  }
  .models__tab .models__grid__container .model__card .model__name {
    text-align: center;
  }
}
@media only screen and (min-width: 1280px) {
  .models__tab {
    padding: var(--mavbar-heigth) 12vw 15vw 12vw;
    gap: 3rem;
    top: 0;
  }
  .models__tab .navigate__back__row {
    position: static;
    border: none;
    height: 0;
  }
  .models__tab .navigate__back__row i {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 3vw;
    right: 3vw;
  }
  .models__tab .navigate__back__row i:hover {
    background-color: #F6F6F6;
  }
  .models__tab .models__grid__container {
    grid-template-columns: repeat(6, 1fr);
  }
}
:root {
  --mavbar-heigth: 4rem;
}

.header {
  width: 100%;
  position: relative;
}

.navbar {
  width: 100%;
  height: var(--mavbar-heigth);
  margin-bottom: calc(0rem - var(--mavbar-heigth));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.01) 100%);
  color: #CACACA;
  font-weight: 600;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar.desktop {
  position: fixed;
  top: 0;
  height: 6rem;
  padding: 0 3rem;
}
.navbar.light {
  background: white;
  color: black;
}
.navbar.light .navbar__left :hover {
  color: #1C69D3;
}
.navbar.light .navbar__right :hover {
  color: #1C69D3;
}
.navbar.light .navbar__right .navbar__search {
  background-color: #F6F6F6;
}
.navbar.minimized {
  height: 2rem;
  cursor: pointer;
}
.navbar.minimized .navbar__left {
  font-size: 0.9rem;
  gap: 0.5rem;
}
.navbar.minimized .navbar__left :hover {
  color: black;
}
.navbar.minimized .navbar__left .nav__logo {
  width: 1.5rem;
}
.navbar.minimized .navbar__left .navbar__slogan {
  font-weight: 300;
}
.navbar.minimized .navbar__right {
  font-size: 1.1rem;
}
.navbar.minimized .navbar__right :hover {
  color: #1C69D3;
}
.navbar.hamburg_opened {
  background: white;
  color: black;
  border: 0.05rem solid #221F1F;
}
.navbar.hamburg_opened .navbar__right__side {
  gap: 2rem;
  height: 100%;
  margin-right: 1rem;
}
.navbar.hamburg_opened .navbar__right__side :hover {
  color: #1C69D3;
}
.navbar.hamburg_opened .navbar__right__side .hamburger {
  border-left: 0.05rem solid #221F1F;
  height: 100%;
  aspect-ratio: 1/1.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar.hamburg_opened .navbar__right__side .hamburger i {
  font-size: 1.5rem;
}

.navbar__left__side {
  margin-left: 1.5rem;
}
.navbar__left__side .navbar__logo {
  width: 2rem;
  aspect-ratio: 1/1;
  border: 1.5px solid #CACACA;
  border-radius: 50%;
  background-image: url(../../../../public/nav-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.navbar__right__side {
  margin-right: 2rem;
  font-size: 0.8rem;
}
.navbar__right__side .humbuger__icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.hamburger__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fff;
  padding: 3rem 0;
  position: absolute;
  top: var(--mavbar-heigth);
  left: 0;
}
.hamburger__menu > * {
  cursor: pointer;
  width: 75%;
}
.hamburger__menu > *:not(:last-child):hover {
  color: #1C69D3;
}
.hamburger__menu .hamburger__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 500;
}
.hamburger__menu .hamburger__item > * {
  pointer-events: none;
}
.hamburger__menu .search__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 3rem;
  background-color: #F6F6F6;
  padding-left: 1rem;
  font-size: 1.3rem;
  position: relative;
}
.hamburger__menu .search__container .search__input {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  line-height: 3rem;
  width: 100%;
}
.hamburger__menu .search__container .cancel__button {
  border: none;
  background-color: #fff;
  width: 15%;
  height: 3rem;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.navbar__item > * {
  pointer-events: none;
}

/*
.navbar {
    width: 100%;
    height: 6rem;
    @include flex(row, center, space-between);
    padding: 0 3rem;


    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
    color: $text-white;
    font-weight: 600;

    z-index: 999;
    &>*{
        @include flex(row, center, space-around);
        gap: 1.8rem;
    }
    &>*>* {
        @include flex(row, center, center);
        gap: .3rem;

        cursor: pointer;
        &:not(.fa-magnifying-glass):hover {
            color: #fff;
        }
    }

}
.navbar.desktop {
    position: fixed;
    top: 0;
}
.navbar.light {
    background: white;
    color: black;

    .navbar__left {
        :hover {
            color: $project-blue;
        }
    }
    .navbar__right {
        :hover {
            color: $project-blue;
        }
        .navbar__search {
            background-color: #F6F6F6;
        }

    }
}
.navbar.light.minimized {
    height: 2rem;
    cursor: pointer;
    .navbar__left {
        font-size: .9rem;
        gap: 0.5rem;
        :hover {
            color: black;
        }
        .nav__logo {
            width: 1.5rem;
        }
        .navbar__slogan {
            font-weight: 300;
        }
    }
    .navbar__right {
        font-size: 1.1rem;
        :hover {
            color: $project-blue;
        }
    }
}


.navbar__left {

    .navbar__logo {
        width: 2rem;
        aspect-ratio: 1 / 1;
        border: 1.5px solid $text-white;
        border-radius: 50%;
        background-image: url(../../../../public/original_logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
    }
    .left__item {
        font-size: 1.1rem;
        i {
            font-size: .8rem;
        }
    }

}
.navbar__right {
    font-size: .8rem;
    .right__item {

    }
    .navbar__search {
        width: 2.2rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: #32302F;

        font-weight: 700;

        margin-right: 1rem;

        &:hover {
            background-color: $text-white;
            color: #32302F;
        }
    }
}


*/
.hero {
  --hero__padding: 2rem;
  --hero__width: calc(100vw - (2 * var(--hero__padding) ));
  width: 100vw;
  aspect-ratio: 1/1.373;
  padding: 0 var(--hero__padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  z-index: -1;
  position: relative;
}
.hero .hero__left {
  width: var(--hero__width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
}
.hero .hero__left .hero__title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: -0.7rem;
}
.hero .hero__left .hero__text {
  font-weight: 300;
  font-size: 1rem;
}
.hero .hero__left .hero__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
}
.hero .hero__left .hero__buttons button {
  width: calc(var(--hero__width) / 2 - var(--hero__padding));
  height: 3rem;
  border: none;
  border-radius: 0.1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.hero .hero__left .hero__buttons button:hover {
  filter: brightness(0.9);
}
.hero .hero__left .hero__buttons :first-child {
  background-color: #1C69D3;
  color: #fff;
}
.hero .hero__left .hero__buttons :last-child {
  background-color: #fff;
}
.hero .hero__right {
  width: var(--hero__width);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.2rem;
  font-size: 1rem;
  font-weight: 300;
  padding-right: 1.5rem;
}
.hero .hero__right :nth-child(2) {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .hero__1 {
    background-image: url("../../../../public/Hero/hero-1-mobile.jpg");
    padding-bottom: 1rem;
  }
  .hero__2 {
    background-image: url("../../../../public/Hero/hero-2-mobile.jpg");
  }
  .hero.hero__3 {
    background-image: url("../../../../public/Hero/hero-3-mobile.jpg");
  }
  .hero.hero__3 .hero__text {
    order: 3;
    font-size: 0.9rem;
    margin-top: -0.4rem;
  }
  .hero__4 {
    background-image: url("../../../../public/Hero/hero-4-mobile.jpg");
  }
}
@media only screen and (max-width: 720px) {
  .hero .hero__right {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    aspect-ratio: 1/0.5879;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 7rem 3rem 0 3rem;
  }
  .hero .hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero .hero__left .hero__title {
    width: 12ch;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: -0.7rem;
  }
  .hero .hero__left .hero__text {
    font-weight: 300;
    font-size: 1.7rem;
  }
  .hero .hero__left .hero__buttons {
    gap: 1.3rem;
  }
  .hero .hero__left .hero__buttons button {
    width: 18vw;
  }
  .hero .hero__right {
    visibility: hidden;
  }
  .hero.hero__1 {
    background-image: url(../../../../public/Hero/hero-1-tablet.jpg);
  }
  .hero.hero__1 .hero__left .hero__title {
    width: 40ch;
    font-size: 2rem;
  }
  .hero.hero__1 .hero__left .hero__text {
    width: 45ch;
    font-size: 1rem;
  }
  .hero.hero__2 {
    background-image: url(../../../../public/Hero/hero-2-tablet.jpg);
  }
  .hero.hero__3 {
    background-image: url(../../../../public/Hero/hero-3-tablet.jpg);
  }
  .hero.hero__3 .hero__left .hero__text {
    font-size: 0.9rem;
  }
  .hero__4 {
    background-image: url(../../../../public/Hero/hero-4-tablet.jpg);
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    aspect-ratio: 1/0.4375;
    padding: 7.5rem 3rem 0 3rem;
  }
  .hero .hero__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero .hero__left .hero__title {
    font-weight: 300;
    font-size: 3.7rem;
    line-height: 4.3rem;
    margin-bottom: -0.7rem;
  }
  .hero .hero__left .hero__text {
    font-weight: 300;
    font-size: 2rem;
  }
  .hero .hero__left .hero__buttons {
    gap: 1.3rem;
  }
  .hero .hero__left .hero__buttons button {
    width: 11vw;
    height: 3.5rem;
  }
  .hero .hero__right {
    width: 50%;
    height: 100%;
    visibility: visible;
    font-size: 1.3rem;
    padding-bottom: 2rem;
  }
  .hero.hero__1 {
    background-image: url(../../../../public/Hero/hero-1-desktop.jpg);
  }
  .hero.hero__1 .hero__left {
    gap: 1rem;
  }
  .hero.hero__1 .hero__left .hero__title {
    width: 20ch;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: -0.7rem;
  }
  .hero.hero__1 .hero__left .hero__text {
    width: 38ch;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .hero.hero__2 {
    background-image: url(../../../../public/Hero/hero-2-desktop.jpg);
  }
  .hero.hero__2 .hero__left {
    gap: 1.4rem;
  }
  .hero.hero__2 .hero__left .hero__title {
    font-size: 3.7rem;
    font-size: 3.7rem;
    line-height: 4.3rem;
  }
  .hero.hero__2 .hero__left .hero__text {
    width: 40ch;
    font-size: 2rem;
  }
  .hero.hero__3 {
    background-image: url(../../../../public/Hero/hero-3-desktop.jpg);
  }
  .hero.hero__3 .hero__left {
    gap: 2.2rem;
  }
  .hero.hero__3 .hero__left .hero__title {
    width: 12ch;
    font-size: 3.7rem;
    line-height: 4.3rem;
    margin-bottom: -0.7rem;
  }
  .hero.hero__3 .hero__left .hero__text {
    font-size: 0.85rem;
    margin-top: -0.4rem;
  }
  .hero.hero__4 {
    background-image: url(../../../../public/Hero/hero-4-desktop.jpg);
  }
  .hero.hero__4 .hero__left {
    gap: 1.4rem;
  }
  .hero.hero__4 .hero__left .hero__title {
    width: 12ch;
    font-size: 3.7rem;
    line-height: 4.3rem;
    margin-bottom: -0.7rem;
  }
  .hero.hero__4 .hero__left .hero__text {
    width: 30ch;
  }
}
.news__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.card {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-position: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2.5rem;
  gap: 0.2rem;
}
.card .card__description {
  font-size: 1.5rem;
  font-weight: 300;
}
.card .card__link {
  color: white;
  margin-top: 0.2rem;
}
.card :not(.card__description) {
  font-weight: 500;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  #card-1 {
    background-image: url(../../../../public/Card/card-x7-mobile.jpg);
  }
  #card-2 {
    background-image: url(../../../../public/Card/card-x5-mobile.jpg);
  }
  #card-3 {
    background-image: url(../../../../public/Card/card-5-mobile.jpg);
  }
  #card-4 {
    background-image: url(../../../../public/Card/card-8-mobile.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .news__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin-top: 0rem;
  }
  .card {
    padding: 1.5rem;
    gap: 0.5rem;
  }
  .card .card__description {
    font-size: 1.5rem;
  }
  .card .card__link {
    color: white;
    margin-top: 0.5rem;
  }
  #card-1 {
    background-image: url(../../../../public/Card/card-x7-tablet.jpg);
  }
  #card-2 {
    background-image: url(../../../../public/Card/card-x5-tablet.jpg);
  }
  #card-3 {
    background-image: url(../../../../public/Card/card-5-tablet.jpg);
  }
  #card-4 {
    background-image: url(../../../../public/Card/card-8-tablet.jpg);
  }
}
@media only screen and (min-width: 1280px) {
  .news__section {
    gap: 3.5rem;
    padding: 3.5rem;
  }
  .card {
    aspect-ratio: 1/0.5837;
  }
  .card .card__description {
    font-size: 2rem;
  }
  .card .card__link {
    color: white;
    margin-top: 0.5rem;
  }
  #card-1 {
    background-image: url(../../../../public/Card/card-x7-desktop.jpg);
  }
  #card-2 {
    background-image: url(../../../../public/Card/card-x5-desktop.jpg);
  }
  #card-3 {
    background-image: url(../../../../public/Card/card-5-desktop.jpg);
  }
  #card-4 {
    background-image: url(../../../../public/Card/card-8-desktop.jpg);
  }
}
.services {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  gap: 1.5rem;
  color: #fff;
  position: relative;
}
.services .service__title {
  font-weight: 300;
}
.services .service__text {
  font-weight: 300;
}
.services button {
  border: none;
  background-color: #fff;
  font-weight: 700;
  color: #221F1F;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .services {
    aspect-ratio: 1/1.2507;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2rem;
  }
  .services .service__title {
    font-size: 1.7rem;
    width: 20ch;
  }
  .services button {
    width: 45vw;
    height: 2.7rem;
  }
  #service-1 {
    background-image: url(../../../../public/Service/service-1-mobile.jpg);
  }
  #service-2 {
    background-image: url(../../../../public/Service/service-2-mobile.jpg);
  }
  #service-3 {
    background-image: url(../../../../public/Service/service-3-mobile.jpg);
  }
  #service-4 {
    background-image: url(../../../../public/Service/service-4-mobile.jpg);
  }
  #service-5 {
    background-image: url(../../../../public/Service/service-5-mobile.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .services {
    aspect-ratio: 1/0.4375;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 2.5rem 0 2.5rem;
    gap: 1rem;
  }
  .services .service__title {
    font-size: 2rem;
  }
  .services button {
    width: 20vw;
    height: 2.7rem;
  }
  #service-1 {
    background-image: url(../../../../public/Service/service-1-tablet.jpg);
  }
  #service-1 .service__title {
    width: 20ch;
  }
  #service-2 {
    background-image: url(../../../../public/Service/service-2-tablet.jpg);
  }
  #service-2 .service__title {
    width: 35ch;
  }
  #service-2 .service__text {
    width: 45ch;
  }
  #service-3 {
    background-image: url(../../../../public/Service/service-3-tablet.jpg);
  }
  #service-4 {
    background-image: url(../../../../public/Service/service-4-tablet.jpg);
  }
  #service-5 {
    background-image: url(../../../../public/Service/service-5-tablet.jpg);
  }
}
@media only screen and (min-width: 1280px) {
  .services {
    aspect-ratio: 1/0.3445;
  }
  #service-1 {
    background-image: url(../../../../public/Service/service-1-desktop.jpg);
  }
  #service-2 {
    background-image: url(../../../../public/Service/service-2-desktop.jpg);
  }
  #service-3 {
    background-image: url(../../../../public/Service/service-3-desktop.jpg);
  }
  #service-4 {
    background-image: url(../../../../public/Service/service-4-desktop.jpg);
  }
  #service-5 {
    background-image: url(../../../../public/Service/service-5-desktop.jpg);
  }
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .section__title {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}
.section .card__container {
  display: grid;
}

.build__section {
  background-color: #F6F6F6;
}
.build__section .card__container .card__default .card__image {
  width: 100%;
  aspect-ratio: 1/0.5;
  background-size: cover;
}
.build__section button {
  background-color: #221F1F;
  width: 12rem;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
}
.build__section button:hover {
  background-color: #4C4C4C;
}

.ownership__section .card__container .card__default .card__image {
  width: 35%;
  aspect-ratio: 1/1;
  background-size: cover;
}

.card__default {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__default .card__image {
  background-repeat: no-repeat;
}
.card__default .card__title {
  text-align: center;
}
.card__default .card__title.bold {
  font-weight: 600;
}
.card__default .card__text {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
.card__default .card__link {
  font-size: 0.8rem;
  font-weight: 600;
  color: #221F1F;
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 3rem 1.5rem;
    gap: 1.5rem;
  }
  .section .card__container {
    width: calc(100% - 3rem);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .section .card__container .card__default {
    gap: 0.5rem;
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 4rem 2rem;
    gap: 2rem;
  }
  .section .card__container {
    width: calc(100% - 4rem);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .section .card__container .card__default {
    gap: 0.5rem;
  }
  .ownership__section {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 4rem 2.5rem;
  }
  .section .section__title {
    font-size: 1.5rem;
  }
  .build__section {
    padding: 4rem 2.5rem;
  }
  .build__section .card__container {
    width: calc(100% - 5rem);
    grid-template-columns: repeat(4, 1fr);
  }
  .ownership__section {
    margin-top: 0rem;
    gap: 2.5rem;
  }
  .ownership__section .card__container .card__default {
    gap: 0.8rem;
  }
  .ownership__section .card__container .card__default .card__image {
    width: 18%;
    margin-bottom: 0.7rem;
  }
  .ownership__section .card__container .card__default .card__title {
    font-size: 1.2rem;
  }
  .ownership__section .card__container .card__default .card__text {
    width: 30ch;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .build__section {
    padding: 5rem 2.5rem;
  }
  .build__section .section__title {
    font-size: 1.8rem;
  }
  .ownership__section {
    gap: 3rem;
  }
  .ownership__section .card__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.models__section {
  width: 100%;
  background-color: #221F1F;
  color: #fff;
  padding: 1.5rem 4rem 2rem 4rem;
  font-weight: 600;
  gap: 2rem;
}
.models__section .models__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.models__section .models__row .row__item {
  cursor: pointer;
}
.models__section .models__row .row__item:hover {
  color: #747373;
}

@media only screen and (min-width: 768px) {
  .models {
    display: none;
  }
}
@media only screen and (min-width: 950px) {
  .models {
    display: flex;
  }
}
.footer {
  width: 100%;
  color: #221F1F;
  font-weight: 300;
}
.footer > :first-child {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.footer > :last-child {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  padding: 1rem;
  gap: 0.5rem;
}
.footer .inner__footer {
  width: 100%;
  gap: 1rem;
}
.footer .inner__footer .text__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.8rem;
}
.footer .inner__footer .socials__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer .inner__footer .socials__container a {
  font-size: 1.3rem;
  color: #727171;
}
.footer .footer__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.footer .footer__section .section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 300;
}
.footer .footer__section .elements__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.footer hr {
  width: 3rem;
}

.footer__element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__element .title__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.footer__element .title__row i {
  font-size: 1.2rem;
}
.footer__element .title__row > * {
  pointer-events: none;
}
.footer__element .item__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0 0rem 2rem;
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}
.footer__element .item__list li {
  width: 100%;
  text-decoration: none;
  color: #221F1F;
  font-size: 0.8rem;
  cursor: pointer;
}
.footer__element .item__list li:hover {
  color: #747373;
}

@media only screen and (min-width: 768px) {
  .footer > :first-child {
    padding: 3rem;
  }
  .footer > :last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer > :first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
    gap: 5vw;
  }
  .footer > :last-child .text__container {
    gap: 0.5rem;
    width: 80vw;
  }
  .footer > :last-child .footer__element {
    gap: 3rem;
  }
  .footer > :last-child .footer__element .title__row {
    display: none;
  }
  .footer > :last-child .footer__element .item__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
  }
  .footer > :last-child .footer__element .item__list li {
    width: auto;
  }
  .footer .footer__section .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .footer .footer__section .section__title hr {
    width: 100%;
  }
  .footer .footer__section .elements__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer__element {
    gap: 1rem;
  }
  .footer__element .title__row {
    line-height: 1rem;
  }
  .footer__element .item__list {
    margin: 0;
  }
  .footer__element hr {
    width: 3rem;
  }
}
.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
}
.selector .hero__option {
  position: relative;
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.selector .hero__option i {
  font-size: 0.7rem;
}
.selector .hero__option:hover {
  color: #1C69D3;
}
.selector .hero__option svg {
  position: absolute;
  transform: rotate(-90deg);
  width: 2.5rem;
  aspect-ratio: 1/1;
  pointer-events: none;
}
.selector .hero__option svg circle {
  width: 2.5rem;
  aspect-ratio: 1/1;
  fill: none;
  stroke-width: 2px;
  transform: translate(2px, 2px);
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
}
.selector .hero__option svg circle:nth-child(1) {
  stroke-dashoffset: 0;
}
.selector .hero__option svg circle:nth-child(2) {
  stroke: #1C69D3;
  stroke-dashoffset: 113;
}

@media only screen and (max-width: 768px) {
  .selector {
    color: #747373;
    bottom: -1.5rem;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .selector .hero__option svg circle {
    stroke: #747373;
  }
  .selector .hero__option svg circle:nth-child(1) {
    stroke: #747373;
  }
}
@media only screen and (min-width: 768px) {
  .selector {
    color: #fff;
    left: 3rem;
    bottom: 2rem;
  }
  .selector .hero__option svg circle {
    stroke: #fff;
  }
  .selector .hero__option svg circle:nth-child(1) {
    stroke: #fff;
  }
}
@-webkit-keyframes circleProgress {
  from {
    stroke-dashoffset: 113;
  }
  to {
    stroke-dashoffset: -293.8;
  }
}
@keyframes circleProgress {
  from {
    stroke-dashoffset: 113;
  }
  to {
    stroke-dashoffset: -293.8;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  width: 100vw;
}

body {
  /* 300 400 500 700 900 */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}/*# sourceMappingURL=index.css.map */