.models__tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #F6F6F6;
  z-index: 20;
}
.models__tab .category__list__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  border-bottom: 0.1rem solid #747373;
  padding-bottom: 0.8rem;
}
.models__tab .category__list__row .category__list__container {
  width: 100%;
}
.models__tab .category__list__row .category__list__container > * {
  cursor: pointer;
}
.models__tab .category__list__row .category__list__container > *:hover {
  font-weight: 500;
}
.models__tab .category__list__row .blue__button {
  top: 0;
  right: 0;
}
.models__tab .models__grid__container {
  width: 100%;
  display: grid;
}
.models__tab .models__grid__container .model__card .model__image {
  --bg-image: "";
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  aspect-ratio: 1/0.4288;
}
.models__tab .models__grid__container .model__card .model__name {
  font-size: 1.5rem;
  font-weight: 500;
}

.navigate__back__row {
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #747373;
  cursor: pointer;
}
.navigate__back__row > * {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigate__back__row p {
  right: 50%;
}
.navigate__back__row i {
  right: 93%;
}
.navigate__back__row:hover {
  color: #1C69D3;
}

@media only screen and (max-width: 767px) {
  .models__tab {
    top: var(--mavbar-heigth);
  }
  .models__tab .navigate__back__row {
    height: 4rem;
    font-weight: 300;
    position: relative;
  }
  .models__tab .category__list__container {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .models__tab .category__list__container > * {
    justify-self: center;
  }
  .models__tab .category__list__container #spacer {
    display: none;
  }
  .models__tab .models__grid__container {
    grid-template-columns: 1fr;
  }
  .models__tab .models__grid__container .model__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }
  .models__tab .models__grid__container .model__card:not(:first-child) {
    border-top: 1px solid #747373;
  }
  .models__tab .models__grid__container .model__card .model__image {
    width: 60%;
    background-size: 100%;
    margin-left: 5%;
  }
  .models__tab .models__grid__container .model__card .model__name {
    width: 30%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .models__tab {
    top: var(--mavbar-heigth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .models__tab > *:not(.navigate__back__row) {
    width: 90%;
  }
  .models__tab .navigate__back__row {
    height: 4rem;
    font-weight: 300;
    position: relative;
  }
  .models__tab .category__list__row {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .models__tab .category__list__row .category__list__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    line-height: 2.5rem;
  }
  .models__tab .category__list__row .category__list__container #spacer {
    pointer-events: none;
  }
  .models__tab .category__list__row .category__list__container :nth-last-child(-n+3) {
    font-weight: 300;
  }
  .models__tab .category__list__row .category__list__container .selected__category {
    font-weight: 500;
    border-bottom: 0.2rem solid #747373;
    padding-bottom: 0.8rem;
    margin-bottom: -0.95rem;
  }
  .models__tab .category__list__row .blue__button {
    background-color: #1C69D3;
    border: none;
    height: 2.5rem;
    width: 10rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: -0.3rem;
  }
  .models__tab .category__list__row .blue__button:hover {
    background-color: #1D55A2;
  }
  .models__tab .selected__category__row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.2rem;
  }
  .models__tab .selected__category__row .category__title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
  }
  .models__tab .selected__category__row > a {
    color: #221F1F;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .models__tab .models__grid__container {
    margin: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
  }
  .models__tab .models__grid__container .model__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
  }
  .models__tab .models__grid__container .model__card:hover {
    background-color: #fff;
    box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
  }
  .models__tab .models__grid__container .model__card .model__image {
    width: 100%;
    background-size: 100%;
  }
  .models__tab .models__grid__container .model__card .model__name {
    text-align: center;
  }
}
@media only screen and (min-width: 1280px) {
  .models__tab {
    padding: var(--mavbar-heigth) 12vw 15vw 12vw;
    gap: 3rem;
    top: 0;
  }
  .models__tab .navigate__back__row {
    position: static;
    border: none;
    height: 0;
  }
  .models__tab .navigate__back__row i {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 7px 16px -3px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 3vw;
    right: 3vw;
  }
  .models__tab .navigate__back__row i:hover {
    background-color: #F6F6F6;
  }
  .models__tab .models__grid__container {
    grid-template-columns: repeat(6, 1fr);
  }
}
:root {
  --mavbar-heigth: 4rem;
}

.header {
  width: 100%;
  z-index: 10;
}
.header.fixed {
  position: fixed;
  top: 0;
}

.navbar {
  width: 100%;
  height: var(--mavbar-heigth);
  margin-bottom: calc(0rem - var(--mavbar-heigth));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.01) 100%);
  color: #CACACA;
  font-weight: 600;
}
.navbar > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar.desktop {
  height: 6rem;
  padding: 0 3rem;
}
.navbar.light {
  background: white;
  color: black;
}
.navbar.light > * :hover {
  color: #1C69D3;
}
.navbar.light .navbar__right__side .navbar__search {
  background-color: #F6F6F6;
}
.navbar.minimized {
  height: 2rem;
  cursor: pointer;
}
.navbar.minimized .navbar__left__side {
  font-size: 0.9rem;
  gap: 0.5rem;
}
.navbar.minimized .navbar__left__side :hover {
  color: black;
}
.navbar.minimized .navbar__left__side .navbar__logo {
  width: 1.5rem;
}
.navbar.minimized .navbar__left__side .navbar__slogan {
  font-weight: 300;
}
.navbar.minimized .navbar__right {
  font-size: 1.1rem;
}
.navbar.minimized .navbar__right :hover {
  color: #1C69D3;
}
.navbar.hidden {
  display: none;
}
.navbar.hamburg_opened {
  background: white;
  color: black;
  border: 0.05rem solid #221F1F;
}
.navbar.hamburg_opened .navbar__right__side {
  gap: 2rem;
  height: 100%;
  margin-right: 1rem;
}
.navbar.hamburg_opened .navbar__right__side :hover {
  color: #1C69D3;
}
.navbar.hamburg_opened .navbar__right__side .hamburger {
  border-left: 0.05rem solid #221F1F;
  height: 100%;
  aspect-ratio: 1/1.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar.hamburg_opened .navbar__right__side .hamburger i {
  font-size: 1.5rem;
}

.navbar__left__side {
  margin-left: 1.5rem;
}
.navbar__left__side .navbar__logo {
  width: 2rem;
  aspect-ratio: 1/1;
  border: 1.5px solid #CACACA;
  border-radius: 50%;
  background-image: url(../../../../public/nav-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.navbar__left__side .navbar__slogan {
  font-size: 0.9rem;
  font-weight: 300;
}
.navbar__left__side .navbar__slogan .slogan__bold {
  font-weight: 600;
}

.navbar__right__side {
  margin-right: 2rem;
  font-size: 0.8rem;
}
.navbar__right__side .humbuger__icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.hamburger__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fff;
  padding: 3rem 0;
  position: absolute;
  top: var(--mavbar-heigth);
  left: 0;
}
.hamburger__menu > * {
  cursor: pointer;
  width: 75%;
}
.hamburger__menu > *:not(:last-child):hover {
  color: #1C69D3;
}
.hamburger__menu .hamburger__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 500;
}
.hamburger__menu .hamburger__item > * {
  pointer-events: none;
}
.hamburger__menu .search__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 3rem;
  background-color: #F6F6F6;
  padding-left: 1rem;
  font-size: 1.3rem;
  position: relative;
}
.hamburger__menu .search__container .search__input {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  line-height: 3rem;
  width: 100%;
}
.hamburger__menu .search__container .cancel__button {
  border: none;
  background-color: #fff;
  width: 15%;
  height: 3rem;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.navbar__item > * {
  pointer-events: none;
}

.dynamic__section {
  --padding: 2rem;
  --width: calc(100vw - (2 * var(--hero__padding) ));
  width: 100vw;
  padding-inline: var(--padding);
  padding-bottom: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
  background-image: var(--image-bg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
.dynamic__section .title {
  font-weight: 300;
  font-size: 2rem;
}
.dynamic__section .text {
  font-weight: 300;
  font-size: 1rem;
}
.dynamic__section .button__row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.dynamic__section .button__row button {
  font-family: "Roboto", sans-serif;
  height: 3rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
.dynamic__section .button__blue {
  background-color: #1C69D3;
  color: #F8F8F8;
}
.dynamic__section .button__blue:hover {
  background-color: #1D55A2;
}
.dynamic__section .button__white {
  background-color: #F8F8F8;
  color: #221F1F;
}
.dynamic__section .button__white:hover {
  filter: brightness(0.9);
}
.dynamic__section .slogan__container {
  display: none;
}

.hero {
  aspect-ratio: 1/1.373;
}

.hero.hero__3 .hero__text {
  order: 3;
}

.service {
  aspect-ratio: 1/1.2507;
}

@media only screen and (min-width: 768px) {
  .dynamic__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dynamic__section .button__row {
    width: 50%;
  }
  .hero {
    aspect-ratio: 1/0.5879;
    padding: 7rem 3rem 0 3rem;
  }
  .hero .hero__title {
    width: 12ch;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: -0.7rem;
  }
  .hero .hero__text {
    font-weight: 300;
    font-size: 1.7rem;
  }
  .hero.hero__1 .hero__title {
    width: 40ch;
    font-weight: 300;
    font-size: 2rem;
  }
  .hero.hero__1 .hero__text {
    width: 45ch;
    font-weight: 300;
    font-size: 1rem;
  }
  .hero.hero__3 .hero__text {
    font-size: 0.9rem;
  }
  .hero.hero__4 .hero__text {
    width: 24ch;
  }
  .service {
    aspect-ratio: 1/0.4375;
    padding: 3rem 2.5rem 0 2.5rem;
    gap: 1rem;
  }
  .service .service__title {
    font-size: 1.5rem;
    width: 38ch;
  }
  .service .service__text {
    width: 45ch;
  }
}
@media only screen and (min-width: 1280px) {
  .dynamic__section {
    position: relative;
  }
  .dynamic__section .button__row {
    width: 30%;
  }
  .dynamic__section .slogan__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.3rem;
    font-weight: 300;
    position: absolute;
    bottom: 2vw;
    right: 5vw;
  }
  .dynamic__section .slogan__container :nth-child(2) {
    font-weight: 800;
  }
  .hero {
    aspect-ratio: 1/0.4375;
    padding: 7.5rem 3rem 0 3rem;
  }
  .hero .hero__title {
    font-weight: 300;
    font-size: 3.7rem;
    line-height: 4.3rem;
    margin-bottom: -0.7rem;
  }
  .hero .hero__text {
    font-weight: 300;
    font-size: 2rem;
  }
  .hero.hero__1 .title {
    font-size: 2.2rem;
  }
  .hero.hero__1 .text {
    width: 48ch;
    font-size: 1.2rem;
  }
  .service {
    aspect-ratio: 1/0.3445;
    padding: 4rem 2.5rem 0 2.5rem;
  }
  .service .service__title {
    font-size: 2.5rem;
    width: 28ch;
    margin-bottom: -0.5rem;
  }
  .service .service__text {
    font-size: 1.3rem;
    width: 45ch;
  }
  .service.service__1 .service__title {
    width: 20ch;
  }
}
.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
}
.selector .hero__option {
  position: relative;
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.selector .hero__option i {
  font-size: 0.7rem;
}
.selector .hero__option:hover {
  color: #1C69D3;
}
.selector .hero__option svg {
  position: absolute;
  transform: rotate(-90deg);
  width: 2.5rem;
  aspect-ratio: 1/1;
  pointer-events: none;
}
.selector .hero__option svg circle {
  width: 2.5rem;
  aspect-ratio: 1/1;
  fill: none;
  stroke-width: 2px;
  transform: translate(2px, 2px);
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
}
.selector .hero__option svg circle:nth-child(1) {
  stroke-dashoffset: 0;
}
.selector .hero__option svg circle:nth-child(2) {
  stroke: #1C69D3;
  stroke-dashoffset: 113;
}

@media only screen and (max-width: 768px) {
  .selector {
    color: #747373;
    bottom: -1.5rem;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .selector .hero__option svg circle {
    stroke: #747373;
  }
  .selector .hero__option svg circle:nth-child(1) {
    stroke: #747373;
  }
}
@media only screen and (min-width: 768px) {
  .selector {
    color: #fff;
    left: 3rem;
    bottom: 2rem;
  }
  .selector .hero__option svg circle {
    stroke: #fff;
  }
  .selector .hero__option svg circle:nth-child(1) {
    stroke: #fff;
  }
}
@-webkit-keyframes circleProgress {
  from {
    stroke-dashoffset: 113;
  }
  to {
    stroke-dashoffset: -293.8;
  }
}
@keyframes circleProgress {
  from {
    stroke-dashoffset: 113;
  }
  to {
    stroke-dashoffset: -293.8;
  }
}
.static__section {
  width: 100%;
  padding: 3rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.static__section > * {
  justify-self: center;
}
.static__section .section__title {
  font-size: 1.5rem;
  font-weight: 300;
}
.static__section .card__default {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.static__section .card__default .card__image {
  --image-bg: "";
  width: 100%;
  background-image: var(--image-bg);
  background-size: cover;
  background-repeat: no-repeat;
}
.static__section .card__default .card__title {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}
.static__section .card__default .card__title.bold {
  font-weight: 600;
}
.static__section .card__default .card__text {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
.static__section .card__default .card__link {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  color: #221F1F;
  justify-self: flex-end;
  text-underline-offset: 0.3rem;
}
.static__section .card__default .card__link i {
  margin-left: 0.3rem;
}
.static__section .card__default .card__link:hover {
  color: #747373;
}
.static__section .section__title, .static__section button {
  grid-column: 1/-1;
}

.button__black {
  background-color: #221F1F;
  width: 10rem;
  height: 2.7rem;
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.button__black:hover {
  background-color: #4C4C4C;
}

.news__section {
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 0;
  margin-top: 3rem;
}
.news__section .news__card {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
  padding: 2.5rem;
  color: #fff;
  position: relative;
}
.news__section .news__card .news__image {
  aspect-ratio: 1/1;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
.news__section .news__card .card__title {
  font-size: 1rem;
}
.news__section .news__card .card__title.bold {
  font-weight: 400;
}
.news__section .news__card .card__text {
  font-size: 1.5rem;
  font-weight: 300;
}
.news__section .news__card .card__link {
  color: #fff;
  margin-top: 0.2rem;
}
.news__section .news__card .card__link:hover {
  color: #fff;
  -webkit-text-decoration-color: #747373;
          text-decoration-color: #747373;
}

.builds__section {
  background-color: #F6F6F6;
}
.builds__section .builds__card {
  gap: 1rem;
}
.builds__section .builds__card .builds__image {
  aspect-ratio: 1/0.5;
}
.ownership__section {
  margin-top: 3rem;
}
.ownership__section .ownership__card {
  gap: 1rem;
  padding: 2rem;
}
.ownership__section .ownership__card .ownership__image {
  aspect-ratio: 1/1;
  width: 35%;
}
.ownership__section .ownership__card .card__text {
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .news__section {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin-top: 0;
  }
  .builds__section {
    grid-template-columns: repeat(4, 1fr);
  }
  .builds__section .builds__card {
    gap: 0.5rem;
  }
  .builds__section .section__title, .builds__section .button__black {
    margin-block: 1rem;
  }
  .ownership__section {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .static__section .section__title {
    font-size: 1.9rem;
  }
  .static__section .card__default .card__title {
    font-size: 1.3rem;
  }
  .news__section .news__card {
    aspect-ratio: 1/0.5719;
    padding: 1.5rem;
    gap: 0.5rem;
  }
  .news__section .news__card .news__image {
    aspect-ratio: 1/0.5719;
  }
  .news__section .news__card .card__title {
    font-size: 0.8rem;
  }
  .news__section .news__card .card__text {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .news__section .news__card .card__link {
    margin-top: 0.5rem;
  }
  .ownership__section {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding-block: 5rem;
  }
  .ownership__section .ownership__card .ownership__image {
    width: 25%;
  }
}
.models__section {
  width: 100%;
  background-color: #221F1F;
  color: #fff;
  padding: 1.5rem 4rem 2rem 4rem;
  font-weight: 600;
  gap: 2rem;
}
.models__section .models__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.models__section .models__row .row__item {
  cursor: pointer;
}
.models__section .models__row .row__item:hover {
  color: #747373;
}

@media only screen and (min-width: 768px) {
  .models {
    display: none;
  }
}
@media only screen and (min-width: 950px) {
  .models {
    display: flex;
  }
}
.footer {
  width: 100%;
  color: #221F1F;
  font-weight: 300;
}
.footer > :first-child {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5rem 1rem 1.5rem 1rem;
  gap: 1rem;
}
.footer > :last-child {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  padding: 1rem;
  gap: 0.5rem;
}
.footer .section__title .inner__footer {
  width: 100%;
  gap: 1rem;
}
.footer .socials__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer .socials__container a {
  font-size: 1.3rem;
  color: #727171;
}
.footer .footer__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.footer .footer__section .section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 300;
}
.footer .footer__section .elements__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.footer .short__hr {
  width: 3rem;
}
.footer .long__hr {
  width: 100%;
}

.footer__element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__element .title__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.footer__element .title__row i {
  font-size: 1.2rem;
}
.footer__element .title__row > * {
  pointer-events: none;
}
.footer__element .item__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0 0rem 2rem;
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}
.footer__element .item__list li {
  width: 100%;
  text-decoration: none;
  color: #221F1F;
  font-size: 0.8rem;
  cursor: pointer;
}
.footer__element .item__list li:hover {
  color: #747373;
}

@media only screen and (min-width: 768px) {
  .footer > :first-child {
    padding: 3rem;
  }
  .footer > :last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer > :first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
    gap: 5vw;
  }
  .footer > :last-child .text__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.8rem;
    gap: 0.5rem;
    width: 80vw;
  }
  .footer > :last-child .footer__element {
    gap: 3rem;
  }
  .footer > :last-child .footer__element .title__row {
    display: none;
  }
  .footer > :last-child .footer__element .item__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
  }
  .footer > :last-child .footer__element .item__list li {
    width: auto;
  }
  .footer .footer__section .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .footer .footer__section .elements__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer__element {
    gap: 1rem;
  }
  .footer__element .title__row {
    line-height: 1rem;
  }
  .footer__element .item__list {
    margin: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  width: 100vw;
}

body {
  /* 300 400 500 700 900 */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}/*# sourceMappingURL=index.css.map */