@use "./mixin" as *;
@use "./variables" as *;




.hero {
    --hero__padding: 2rem;
    --hero__width: calc(100vw - (2 * var(--hero__padding) ));

    width: 100vw;
    aspect-ratio: 1 / 1.373;

    padding: 0 var(--hero__padding);
    
    @include flex(column, flex-start ,flex-end);
    gap: 2rem;

    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;

    position: relative;


    .hero__left {
        width: var(--hero__width);
        @include flex(column, flex-start, flex-start); 
        gap: 1.2rem;
  
        .hero__title {
            font-weight: 300;

            font-size: 2rem;

            margin-bottom: -.7rem;
        }
        .hero__text {
            font-weight: 300;
            font-size: 1rem;

        }
        .hero__buttons {
            @include flex(row, center, flex-start);
            gap: 1.3rem;
            button {

                width: calc(var(--hero__width) / 2 - var(--hero__padding));
                height: 3rem;

                
                border:none;
                border-radius: .1rem;

                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                font-weight: 700;

                cursor: pointer;
                &:hover {
                    filter: brightness(0.9);
                }
            }
            :first-child {
                background-color: $project-blue;
                color: #fff;

            }
            :last-child {
                background-color: #fff;
            }
        }
    }

    .hero__right {
        width: var(--hero__width);
        
        @include flex(row, flex-end, flex-end);
        gap: .2rem;

        font-size: 1rem;
        font-weight: 300;
        padding-right: 1.5rem;
        :nth-child(2) {
            font-weight: 700;
        }

    }
}



// MOBILE

@media only screen and (max-width: 768px) {

    .hero__1 {
        background-image: url("../../../../public/Hero/hero-1-mobile.jpg");
        padding-bottom: 1rem;
    }
    
    .hero__2 {
        background-image: url("../../../../public/Hero/hero-2-mobile.jpg");
    }
    
    .hero.hero__3 {
        background-image: url("../../../../public/Hero/hero-3-mobile.jpg");
        .hero__text  {
            order:3;
            font-size: .9rem;
            margin-top: -.4rem;
        }
    }
    
    .hero__4 {
        background-image: url("../../../../public/Hero/hero-4-mobile.jpg");
    }
}
@media only screen and (max-width: 720px) {

    .hero {
        .hero__right {
            visibility: hidden;
            
        }
    }

}

// TABLET
@media only screen and (min-width: 768px) {

    .hero {
        aspect-ratio: 1 / 0.5879;

        @include flex(row, flex-start, space-between);

        padding: 7rem 3rem 0 3rem;


        .hero__left {
  
            @include flex(column, flex-start, flex-start);
            .hero__title {
                width: 12ch;
                
                font-weight: 300;
                font-size: 3rem;
                line-height: 3.3rem;
                margin-bottom: -.7rem;
            }
            .hero__text {
                font-weight: 300;
    
                font-size: 1.7rem;
    
            }

            .hero__buttons {
                
                gap: 1.3rem;
                button {
                    width: 18vw;

                }
            }

        }

        .hero__right {
            visibility: hidden;
        }
     
    }
    .hero.hero__1 {
        background-image: url(../../../../public/Hero/hero-1-tablet.jpg);
        .hero__left {
  
            .hero__title {
                width: 40ch;
                font-size: 2rem;
            }
            .hero__text {
                width: 45ch;
                font-size: 1rem;
            }
        }

    }
    .hero.hero__2 {
        background-image: url(../../../../public/Hero/hero-2-tablet.jpg);

    }
    .hero.hero__3 {
        background-image: url(../../../../public/Hero/hero-3-tablet.jpg);
        .hero__left {
  
            .hero__title {
         
         
            }
            .hero__text {
                font-size: .9rem;
         
            }
        }
    }
    .hero__4 {
        background-image: url(../../../../public/Hero/hero-4-tablet.jpg);
    }

}

    // DESKTOP
    @media only screen and (min-width: 1280px) {
    .hero {
        aspect-ratio:  1 / 0.4375;
        padding: 7.5rem 3rem 0 3rem;

        .hero__left {
            width: 50%;
            @include flex(column, flex-start, flex-start);
            .hero__title {
                font-weight: 300;
    
                font-size: 3.7rem;
                line-height: 4.3rem;
                margin-bottom: -.7rem;
            }
            .hero__text {
                font-weight: 300;
    
                font-size: 2rem;
    
            }
            .hero__buttons {
                
                gap: 1.3rem;
                button {
                    width: 11vw;
                    height: 3.5rem;

                }
            }
        }
        .hero__right {
            width: 50%;
            height: 100%;
            visibility: visible;
            font-size: 1.3rem;
            padding-bottom: 2rem;
            
        }
    }
    .hero.hero__1 {
        background-image: url(../../../../public/Hero/hero-1-desktop.jpg);
        .hero__left {
            gap: 1rem;
            .hero__title {
                width: 20ch;
                font-size: 2.6rem;
                line-height: 3rem;
                margin-bottom: -.7rem;
            }
            .hero__text {
                width: 38ch;
                
                font-size: 1.3rem;
                line-height: 2rem;
            }
        }
    }
    .hero.hero__2 {
        background-image: url(../../../../public/Hero/hero-2-desktop.jpg);
        .hero__left {
            gap: 1.4rem;
    
            .hero__title {
                font-size: 3.7rem;
    
                font-size: 3.7rem;
                line-height: 4.3rem;
                
            }
            .hero__text {
                width: 40ch;
                font-size: 2rem;
    
            }
        }
    }
  
    .hero.hero__3 {
        background-image: url(../../../../public/Hero/hero-3-desktop.jpg);
        .hero__left {
            gap: 2.2rem;
            .hero__title {
             width: 12ch;
    
             font-size: 3.7rem;
             line-height: 4.3rem;
             margin-bottom: -.7rem;
            }
            .hero__text {
                font-size: .85rem;

                margin-top: -.4rem;
            }
        }
    }
    .hero.hero__4 {
        background-image: url(../../../../public/Hero/hero-4-desktop.jpg);
        .hero__left {
            gap: 1.4rem;
            .hero__title {
             width: 12ch;
    
             font-size: 3.7rem;
             line-height: 4.3rem;
             margin-bottom: -.7rem;
            }
            .hero__text {
                width: 30ch;
            }
        }
    }
}


