@use "./mixin" as *;
@use "./variables" as *;

.models__section {
    width: 100%;
    @include flex(row, center, flex-start);
    gap: 2rem;
    background-color: $project-black;
    color: #fff;
    padding: 1.5rem 4rem 2rem 4rem;
    font-weight: 600;
    .models__row {
        @include flex(row, center, space-between);
        width: 80%;
        .row__item {
            cursor: pointer;
            &:hover {
                color: $project-grey;
            }
        }
    }
}

// only MOBILE
@media only screen and (min-width: 768px) {
    .models {
        display: none;
    }
}
// TABLET
@media only screen and (min-width: 950px) {
    .models {
        display: flex;
    }

}