
@use "./mixin" as *;
@use "./variables" as *;


.news__section {
    width: 100%;

    @include flex(column, center, center);
    gap: .5rem;
    margin-top: 3rem;
}


.card {
    width: 100%;
    aspect-ratio: 1 / 1;
    @include flex(column,center ,flex-end);

    background-position: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    padding:2.5rem;
    gap: .2rem;
    .card__title {

    }
    .card__description {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .card__link {
        color: white;
        margin-top: .2rem;
    }
    :not(.card__description) {
        font-weight: 500;
        font-size: .9rem;
    }
}

    @media only screen and (max-width: 768px) {

    #card-1 {
        background-image: url(../../../../public/Card/card-x7-mobile.jpg);
    }
    #card-2 {
        background-image: url(../../../../public/Card/card-x5-mobile.jpg);
    }
    #card-3 {
        background-image: url(../../../../public/Card/card-5-mobile.jpg);
    }
    #card-4 {
        background-image: url(../../../../public/Card/card-8-mobile.jpg);
    }

}


@media only screen and (min-width: 768px) {
    .news__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 2rem;
        padding: 2rem;
        margin-top: 0rem;
 
    }
    .card {
        padding:1.5rem;
        gap: .5rem;
        .card__title {

        }
        .card__description {
            font-size: 1.5rem;
        }
        .card__link {
            color: white;
            margin-top: .5rem;
        }

    }


    #card-1 {
        background-image: url(../../../../public/Card/card-x7-tablet.jpg);
    }
    #card-2 {
        background-image: url(../../../../public/Card/card-x5-tablet.jpg);
    }
    #card-3 {
        background-image: url(../../../../public/Card/card-5-tablet.jpg);
    }
    #card-4 {
        background-image: url(../../../../public/Card/card-8-tablet.jpg);
    }

}




@media only screen and (min-width: 1280px) {
    .news__section {
        gap: 3.5rem;
        padding: 3.5rem;

    }


    .card {
        aspect-ratio: 1 / 0.5837;
        .card__title {

        }
        .card__description {
            font-size: 2rem;
        }
        .card__link {
            color: white;
            margin-top: .5rem;
        }

    }
    #card-1 {
        background-image: url(../../../../public/Card/card-x7-desktop.jpg);
    }
    #card-2 {
        background-image: url(../../../../public/Card/card-x5-desktop.jpg);
    }
    #card-3 {
        background-image: url(../../../../public/Card/card-5-desktop.jpg);
    }
    #card-4 {
        background-image: url(../../../../public/Card/card-8-desktop.jpg);
    }


}