@use "./variables" as *;
@use "./mixin" as *;


.services {
    width: 100vw;

    background-repeat: no-repeat;
    background-size: 100%;

    gap: 1.5rem;

    color: #fff;

    position: relative;
    .service__title {
        font-weight: 300;
    }
    .service__text {
        font-weight: 300;
    }

    button {
        border: none;

        background-color: #fff;
        font-weight: 700;
        color: $project-black;

        cursor: pointer;
    }
}


// MOBILE
@media only screen and (max-width: 768px) {
    .services {
        aspect-ratio: 1 / 1.2507;
        
        @include flex(column, flex-start, flex-end);
        padding: 2rem;
        .service__title {
            font-size: 1.7rem;

            width: 20ch;
        }
        .service__text {
    
        }
        button {
            width: 45vw;
            height: 2.7rem;

        }
    }

    #service-1 {
        background-image: url(../../../../public/Service/service-1-mobile.jpg);
    }
    #service-2 {
        background-image: url(../../../../public/Service/service-2-mobile.jpg);
    }
    #service-3 {
        background-image: url(../../../../public/Service/service-3-mobile.jpg);
    }
    #service-4 {
        background-image: url(../../../../public/Service/service-4-mobile.jpg);
    }
    #service-5 {
        background-image: url(../../../../public/Service/service-5-mobile.jpg);
    }

}
@media only screen and (max-width: 720px) {


}


// TABLET
@media only screen and (min-width: 768px) {

    .services {
        aspect-ratio: 1 / 0.4375;

        
        @include flex(column, flex-start, flex-start);

        padding: 3rem 2.5rem 0 2.5rem;
        gap: 1rem;

        .service__title {
            font-size: 2rem;
        }
        .service__text {
            
        }
        button {
            width: 20vw;
            height: 2.7rem;

        }
    }
    
    #service-1 {
        background-image: url(../../../../public/Service/service-1-tablet.jpg);
        .service__title {
            width: 20ch;
        }
    }
    #service-2 {
        background-image: url(../../../../public/Service/service-2-tablet.jpg);
        .service__title {
            width: 35ch;
        }
        .service__text {
            width: 45ch;
        }
    }
    #service-3 {
        background-image: url(../../../../public/Service/service-3-tablet.jpg);
    }
    #service-4 {
        background-image: url(../../../../public/Service/service-4-tablet.jpg);
    }
    #service-5 {
        background-image: url(../../../../public/Service/service-5-tablet.jpg);
    }

}


// DESKTOP
@media only screen and (min-width: 1280px) {

    .services {
        aspect-ratio: 1 / 0.3445;
    }

    #service-1 {
        background-image: url(../../../../public/Service/service-1-desktop.jpg);
    }
    #service-2 {
        background-image: url(../../../../public/Service/service-2-desktop.jpg);
    }
    #service-3 {
        background-image: url(../../../../public/Service/service-3-desktop.jpg);
    }
    #service-4 {
        background-image: url(../../../../public/Service/service-4-desktop.jpg);
    }
    #service-5 {
        background-image: url(../../../../public/Service/service-5-desktop.jpg);
    }

}