
$text-white:#CACACA;
$project-white:#F8F8F8;
$project-blue:#1C69D3;
$project-grey-light:#F6F6F6;
$project-grey:#747373;
$project-grey-dark: #4C4C4C;
$project-black: #221F1F;

$background-silver: #F6F6F6;

