@use "./navbar";
@use "./hero";
@use "./Card";


* {
    box-sizing: border-box;
    margin: 0;

}

#root {
    width: 100vw;

}

body {
    /* 300 400 500 700 900 */
    font-family: 'Roboto', sans-serif;
                                                
                                           
    overflow-x: hidden;
                                                
}

.cards__section {
    width: 100%;
    height: 130vh;
    display: grid;
    padding: 3.5rem;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
}