@use "./Navbar";
@use "./Hero";
@use "./NewsCard";
//@use "./BuildCards";
@use "./Services";

@use "./DefaultCard";


@use "./Selector";



* {
    box-sizing: border-box;
    margin: 0;

}

#root {
    width: 100vw;

}

body {
    /* 300 400 500 700 900 */
    font-family: 'Roboto', sans-serif;
                                                
                                           
    overflow-x: hidden;
                                                
}

